<% cu = current_user %>
<% if cu.children.count > 0 %>
  <legend>My <%= pluralize(cu.children.count, 'kid').split[1] %></legend>
  <div style='width:40%'>
    <% cu.children.each do |c| %>
      <table class='child table table-striped table-bordered' data-cuid='<%= cu.id %>'>
        <tr>
          <td width='40%'><strong>Name</strong></td>
          <td>
            <a href='#' data-name='name' data-type='text' data-pk='<%= c.id %>'>
              <%= c.name %>
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Gender</strong></td>
          <td>
            <a href='#' data-name='gender' data-type='select' data-pk='<%= c.id %>' data-source="[ {value: 'female', text: 'girl'}, {value: 'male', text: 'boy'} ]">
              <% if c.gender == 'female' %>
                girl
              <% else %>
                boy
              <% end %>
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Grade</strong></td>
          <td>
            <a href='#' data-name='grade' data-type='select' data-pk='<%= c.id %>' data-source="[ {value: 'K', text: 'K'}, {value: '1st', text: '1st'}, {value: '2nd', text: '2nd'}, {value: '3rd', text: '3rd'}, {value: '4th', text: '4th'}, {value: '5th', text: '5th'} ]">
              <%= c.grade %>
            </a>
          </td>
        </tr>
        <tr>
          <td><strong>Teacher</strong></td>
          <td>
            <a href='#' data-name='teacher' data-type='text' data-pk='<%= c.id %>'>
              <%= c.teacher %>
            </a>
          </td>
        </tr>
      </table>
      <button class='toggle-edit btn pull-right' data-model='child' data-id='<%= c.id %>'>Edit</button>
      <br></br>
    <% end %>
  </div>
<% end %>

<legend>Add a kid</legend>
<div style='width: 40%'>
  <div id='msg-child' class='alert hide'></div>
  <table class='child new table table-striped table-bordered' data-cuid='<%= cu.id %>'>
    <tr>
      <td width='40%'><strong>Name</strong></td>
      <td><a href='#' data-name='name' data-type='text'></a></td>
    </tr>
    <tr>
      <td><strong>Gender</strong></td>
      <td><a href='#' data-name='gender' data-type='select' data-source="[ {value: 'female', text: 'girl'}, {value: 'male', text: 'boy'} ]"></a>
      </td>
    </tr>
    <tr>
      <td><strong>Grade</strong></td>
      <td><a href='#' data-name='grade' data-type='select' data-source="[ {value: 'K', text: 'K'}, {value: '1st', text: '1st'}, {value: '2nd', text: '2nd'}, {value: '3rd', text: '3rd'}, {value: '4th', text: '4th'}, {value: '5th', text: '5th'} ]"></a></td>
    </tr>
    <tr>
      <td><strong>Teacher</strong></td>
      <td><a href='#' data-name='teacher' data-type='text'></a></td>
    </tr>
  </table>
  <button id="save-child-btn" class="btn btn-primary">Save new kid</button>
</div>
