<% ride_creator = User.find(r.created_by) %>
<% ride_creator_type = r.created_as %>

<hr></hr>
<div class='container'>
  <div class='row'>
    <div class='span6'>
      <h4>
        <span class='text-info'>
          <%= ride_creator.first_name %> <%= ride_creator.last_name[0] %>
        </span>
        <% if ride_creator_type == 'driver'%>
          offering to drive
        <% else %>
          <% child = Child.find(ride_creator.riderships.where(ride_id: r.id).first.child_id) %>
          looking for help for 
          <%= son_or_daughter(child) %>
          <%= child.name.capitalize %>
        <% end %>
      </h4>
      <p>
      <span class='label label-success'>
        <%= r.ride_type %> Ride
      </span>
      </p>
      <p>
      <span class='label label-inverse'>From</span> 
      <i class='icon-map-marker icon-large' style='color: green;'></i> 
      <% if r.origin_address.user_id ==0 %>
        <%= r.origin_address.name %>
      <% else %>
        <%= r.origin_address.full_street_address %>
      <% end %>
      </p>
      <p>
      <span class='label label-inverse'>To</span> 
      <i class='icon-map-marker icon-large' style='color: red;'></i> 
      <% if r.destination_address.user_id ==0 %>
        <%= r.destination_address.name %>
      <% else %>
        <%= r.destination_address.full_street_address %>
      <% end %>
      </p>
      <p>
      <strong>
        <%= render partial: 'describe_schedule', locals: { r: r }  %>
      </strong>
      </p>
    </div>
    <div class='span2'>
      <% if ride_creator_type == 'driver' %>
        <% leading_text = 'Asking for' %>
      <% else %>
        <% leading_text = 'Willing to pay' %>
      <% end %>
      <span class='label label-important'><%= leading_text %></span>
      <h3>$<%= r.gas_money %> per ride</h3>
      <%= link_to 'More info', ride_path(r.id), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class='row'>
    <div class='span7'>
      <% if ride_creator == current_user %>
        <%= link_to edit_ride_path(r.id), class: 'btn btn-primary' do %>
          <i class='icon-edit icon-large'></i>
          Edit Ride 
        <% end %>
        <%= link_to r, method: 'delete', class: 'btn btn-danger',
          data: { confirm: "Are you sure?" } do %>
            <i class='icon-remove icon-large'></i>
            Cancel Ride 
        <% end %>
      <% end %>
    </div>
  </div>
</div>
