<% cu = current_user %>

<div class='row'>

  <div class='span9'>
    <div class='row'>

      <div class='span2'>
        <%= image_tag(cu.profile_photo('large'), class: 'img-polaroid') %>
        <div class='text-center'>
          <%= link_to 'My Profile', edit_user_registration_path %>
        </div>
      </div>

      <div class='span7'>
        <h2>Hi, <%= cu.first_name %>!</h2>
        <hr></hr>

        <% flash.each do |name, msg| %>
          <% if name == :partial %>
            <%= render partial: msg %>
          <% else %>
            <div class='alert alert-<%= name %>'>
              <a class='close' data-dismiss='alert'>&#215;</a>
              <%= content_tag :div, msg, id: "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>

        <% cu.rides_as_driver.each do |ride| %>
          <% if !ride.riders.empty? %>
            <% ride.riders.each do |rider| %>
              <% ridership = rider.riderships.where(ride_id: ride.id).first %>
              <% if ridership.status == 'booked' %>

                <div class='alert alert-success'>
                  <a class='close' data-dismiss='alert'>&#215;</a>
                  <div class='row'>
                    <div class='span1'>
                      <%= image_tag rider.profile_photo('small'), class: 'img-polaroid' %>
                    </div>
                    <div class='span5'>
                      <p>
                        <%= rider.first_name %> <%= rider.last_name[0] %> booked your ride to Cherry Crest! You'll get paid $<%= ride.gas_money %> per trip if you accept the request.
                      </p>
                      <%= link_to 'Respond', responding_to_ride_path(ride.id, { rider_id: rider.id }), class: 'btn btn-primary' %>
                      <p>
                      <div class='countdown' data-expiration='<%= ridership.expiration.to_i %>' >
                      </div>
                        Time left to respond
                      </p>
                    </div>
                  </div>
                </div>

              <% elsif ridership.status == 'accepted' && ride.created_by != cu.id %>
                <div class='alert alert-success'>
                  <a class='close' data-dismiss='alert'>&#215;</a>
                  <div class='row'>
                    <div class='span1'>
                      <%= image_tag rider.profile_photo('normal'), class: 'img-polaroid' %>
                    </div>
                    <div class='span5'>
                      <p>
                      <%= rider.first_name %> <%= rider.last_name %> has accepted your offer!
                      </p>
                      <%= link_to 'Confirm', confirm_ride_path(ride.id), class: 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% cu.rides_as_rider.each do |ride| %>
          <% ridership = cu.riderships.where(ride_id: ride.id).first %> 

          <%#status==accepted means a booking or offer was accepted%>
          <%#it could be accepted by the rider or by the driver%>
          <%#we check if the creator is current user to distinguish%>

          <% if ridership.status == 'accepted' && ride.created_by != cu.id %>
            <div class='alert alert-success'>
              <a class='close' data-dismiss='alert'>&#215;</a>
              <div class='row'>
                <div class='span1'>
                  <%= image_tag ride.driver.profile_photo('normal'), class: 'img-polaroid' %>
                </div>
                <div class='span5'>
                  <p>
                  <%= ride.driver.first_name %> <%= ride.driver.last_name[0] %> has accepted your request!
                  </p>
                  <%= link_to 'Confirm', confirm_ride_path(ride.id), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% elsif ridership.status == 'offered' %>
            <div class='alert alert-success'>
              <a class='close' data-dismiss='alert'>&#215;</a>
              <div class='row'>
                <div class='span1'>
                  <%= image_tag ride.driver.profile_photo('normal'), class: 'img-polaroid' %>
                </div>
                <div class='span5'>
                  <p>
                  <%= ride.driver.first_name %> <%= ride.driver.last_name[0] %> has offered to pick your kid!
                  </p>
                  <%= link_to 'Respond', responding_to_ride_path(ride.id, { driver_id: ride.driver.id }), class: 'btn btn-primary' %>
                  <p>
                  <div class='countdown' data-expiration='<%= ridership.expiration.to_i %>' >
                  </div>
                  Time left to respond
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render partial: 'get_started_alert' %>

      </div>

    </div>

    <div class='row'>
      <div class='span9'>
        <h3>My Upcoming Rides</h3>
        <% if !cu.rides_as_driver.empty? %>
          <% cu.rides_as_driver.each do |r| %>
            <% r.riderships.each do |ridership| %>
              <% if ridership.status == 'accepted' || ridership.status == 'confirmed' %>
                <% rider = User.find(ridership.user_id) %>
                <% child = Child.find(ridership.child_id) %>
                <hr></hr>
                <h4>
                  <span class='text-info'>
                    <%= cu.first_name %> <%= cu.last_name %>
                  </span>
                  is driving
                  <span class='text-info'>
                    <%= rider.first_name %> <%= rider.last_name %>
                  </span>'s <%= son_or_daughter(child) %>
                  <%= child.name %>
                </h4>
                <strong>
                  <%= render partial: 'describe_schedule', locals: { r: r }  %>
                </strong>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if !cu.rides_as_rider.empty? %>
          <% cu.rides_as_rider.each do |r| %>
            <% r.riderships.each do |ridership| %>
              <% if ridership.status == 'accepted' || ridership.status == 'confirmed' %>
                <% driver = r.driver %>
                <% child = Child.find(ridership.child_id) %>
                <hr></hr>
                <h4>
                  <span class='text-info'>
                    <%= driver.first_name %> <%= driver.last_name %>
                  </span>
                  is driving
                  <span class='text-info'>
                    <%= cu.first_name %> <%= cu.last_name %>
                  </span>'s <%= son_or_daughter(child) %>
                  <%= child.name %>
                </h4>
                <strong>
                  <%= render partial: 'describe_schedule', locals: { r: r }  %>
                </strong>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if cu.rides_as_driver.empty? && cu.rides_as_rider.empty? %>
          <p class='lead text-info well'>
          You don't have any upcoming rides.
          </p>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='span9'>
        <h3>My Rides</h3>
        <% if cu.rides_as_driver.empty? && cu.rides_as_rider.empty? %>
          <p class='lead text-info well'>
          Any time you add a ride of your own or are added to another user's ride it will be placed here for easy reference.
          </p>
        <% else %>
          <% cu.rides_as_driver.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
          <% cu.rides_as_rider.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
