<% u = @user %>

<div class='row'>

  <div class='span9'>
    <div class='row'>

      <div class='span2'>
        <%= image_tag(u.profile_photo('large'), class: 'img-polaroid') %>
      </div>

      <div class='span7'>
        <h2><%= u.first_name %> <%= u.last_name %>'s Profile</h2>
        <hr></hr>
        <% if !u.phone_number.nil? %>
          <p>
          <i class='icon-phone icon-large'></i>
          <a href='tel:<%= u.phone_number %>'><%= number_to_phone(u.phone_number) %></a>
          </p>
        <% end %>
        <p>
        <i class='icon-envelope icon-large'></i>
        <a href='mailto:<%= u.email %>'><%= u.email %></a>
        </p>
        <div>
          <i class='icon-ok icon-large'></i>
          <div class='label label-success'>Verified parent</div>
        </div>
      </div>

    </div>

    <div class='row'>
      <div class='span9'>
        <h3>Children</h3>
        <% u.children.each do |c| %>
          <div style='width:40%'>
            <table class='table table-striped table-bordered'>
              <tr>
                <td width='40%'><strong>Name</strong></td>
                <td><%= c.name %></td>
              </tr>
              <tr>
                <td width='40%'><strong>Grade</strong></td>
                <td><%= c.grade %></td>
              </tr>
              <tr>
                <td width='40%'><strong>Teacher</strong></td>
                <td><%= c.teacher %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='span9'>
        <h3><%= u.first_name %>'s Rides</h3>
        <% if u.rides_as_driver.empty? && u.rides_as_rider.empty? %>
          <p class='lead text-info well'>
          <%= u.first_name %> does not have any rides yet.
          </p>
        <% else %>
          <% u.rides_as_driver.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
          <% u.rides_as_rider.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
