<div class='row'>

  <div class='span8'>
    <div class=''>
      <div class=''>
        <h3>Hi <%= current_user.first_name %>!</h3>

        <% flash.each do |name, msg| %>
          <div class='alert alert-<%= name %>'>
            <a class='close' data-dismiss='alert'>&#215;</a>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          </div>
        <% end %>

        <% current_user.rides_as_driver.each do |ride| %>
          <% if !ride.riders.empty? %>
            <% ride.riders.each do |rider| %>
              <% if Ridership.where("ride_id = ? AND user_id = ?", ride.id, rider.id).first.status == 'booked' %>

                <div class='alert alert-success'>
                  <a class='close' data-dismiss='alert'>&#215;</a>
                  <div class='row'>
                    <div class='span1'>
                      <%= image_tag ride.driver.image %>
                    </div>
                    <div class='span6'>
                      <p>
                        <%= rider.name %> booked your <%= ride.ride_type %> ride to
                        Cherry Crest! You'll get paid $<%= ride.gas_money %> per trip if
                        you accept the request.
                      </p>
                      <%= link_to 'Respond', responding_to_ride_path(ride.id, { rider_id: rider.id }), class: 'btn btn-primary' %>
                      <p>
                      <div class='countdown' data-expiration='<%= ride.expiration.to_i %>' >
                      </div>
                        Time left to respond
                      </p>
                    </div>
                  </div>
                </div>

              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% current_user.rides_as_rider.each do |ride| %>
          <% if Ridership.where("ride_id = ? AND user_id =? ", ride.id, current_user.id).first.status == 'accepted' %>

            <div class='alert alert-success'>
              <a class='close' data-dismiss='alert'>&#215;</a>
              <div class='row'>
                <div class='span1'>
                  <%= image_tag ride.driver.image %>
                </div>
                <div class='span6'>
                  <p>
                  <%= ride.driver.name %> has accepted your request!
                  </p>
                  <%= link_to 'Confirm', confirm_ride_path(ride.id), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>

        <%= render 'get_started_alert' %>
      </div>

      <% if false %>
        <div class='span2'>
          <a href='#' class='thumbnail'>
            <%= image_tag(current_user.image, alt: current_user.name) %>
          </a>
          <%= link_to 'My Profile', edit_user_registration_path %>
        </div>
      <% end %>
    </div>

    <div class='row'>
      <div class='span8'>
        <h3>My Rides</h3>
        <% if current_user.rides_as_driver.empty? && current_user.rides_as_rider.empty? %>
          <p class='lead text-info'>
          Nothing in here yet! Follow the Get Started wizard to create or find one! 
          </p>
        <% else %>
          <% current_user.rides_as_driver.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
          <% current_user.rides_as_rider.each do |r| %>
            <%= render partial: 'ride_info_listing', locals: { r: r } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
