<%#offering means a potential driver offers to help a rider%>
<%#if set to true, then this is a booking in which a parent offers to drive a kid%>
<%#if set to false, then this is a booking in which a rider is asking for a driver%>

<% r = @ride %>
<% if !@child.nil? %>
  <% c = @child %>
  <% offering = false %>
<% else %>
  <%#taking shortcut here: assuming this ride is rider's only ride%>
  <% rider = r.riders.first %>
  <% c = Child.find(r.riderships.where(user_id: rider.id).first.child_id) %>
  <% offering = true %>
<% end %>

<div class='row'>
  <div class='span8'>
    <h2>1 Ride details</h2>
    <div class='row well'>
      <div class='span8'>
        <div class='row'>
          <div class='span8'>
            <% if offering %>
              For <strong><%= rider.first_name %> <%= rider.last_name %></strong>'s
              <%= son_or_daughter(c) %>
              <strong><%= c.name %></strong>
            <% else %>
              <p>
              For your <%= son_or_daughter(c) %> 
              <strong><%= c.name %></strong>
              </p>
            <% end %>
            <p>
            <strong>
              <%= render partial: 'describe_schedule', locals: { r: r }  %>
            </strong>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='span1'>
            <% if offering %>
              <%= image_tag rider.profile_photo('small'), class: 'img-polaroid' %>
            <% else %>
              <%= image_tag r.driver.profile_photo('small'), class: 'img-polaroid' %>
            <% end %>
          </div>
          <div class='span2'>
            <p><span class='label label-inverse'>Driver</span></p>
            <% if offering %>
              <p><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
            <% else %>
              <p><strong><%= r.driver.first_name %> <%= r.driver.last_name %></strong></p>
            <% end %>
          </div>
          <div class='span5'>
            <p>
            <span class='label label-inverse'>From</span> 
            <i class='icon-map-marker icon-large' style='color: green;'></i> 
            <% if r.origin_address.user_id ==0 %>
              <%= r.origin_address.name %>
            <% else %>
              <%= r.origin_address.full_street_address %>
            <% end %>
            </p>
            <p>
            <span class='label label-inverse'>To</span> 
            <i class='icon-map-marker icon-large' style='color: red;'></i> 
            <% if r.destination_address.user_id ==0 %>
              <%= r.destination_address.name %>
            <% else %>
              <%= r.destination_address.full_street_address %>
            <% end %>
            </p>
          </div>
        </div>
        <div class='row'>
          <span class='span2 lead'>
            Each Trip $<%= r.gas_money %>
          </span>
        </div>
      </div>
    </div>

    <% if false %>
    <h2>2 Payment <i class='icon-lock icon-large'></i></h2>
    <div class='row well'>
      <div class='span8'>
        <%= render 'credit_card_form' %>
      </div>
    </div>
    <% end %>

    <h2>2 Contact Info</h2>
    <div class='row well'>
      <div class='span8'>
        <%= simple_form_for current_user, 
          html: { class: 'user_phone' },
          url: url_for(controller: 'rides', action: 'booked'), method: :put do |f| %>
          <%= f.input :phone_number,
            label: 'Please provide your best contact number:',
            placeholder: 'phone number',
            input_html: { value: number_to_phone(current_user.phone_number) } %>
          <%= f.input 'booked_ride_id', as: :hidden, input_html: { value: r.id } %>
          <% if not offering %>
            <%= f.input 'child_id', as: :hidden, input_html: { value: c.id } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='span4'>
        <button class='btn btn-success btn-block submit'>
          <% if offering %>
            Pick up this kid!
          <% else %>
            Pick up my kid!
          <% end %>
        </button>
      </div>
    </div>
  </div>

  <% if false %>
  <div class='span4'>
    <h2 style='visibility:hidden;'>Space filler</h2>
    <div class='row'>    
      <div class='span4'>
        <div class='alert alert-info'>
          <p class='lead'>
          How it works
          </p>
          <p>
          <small>
            You WILL NOT be charged unless John accepts your request. If John doesn't respond with 24 hours the request will expire and you can try someone else.
          </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
