<% r = @ride %>
<% c = @child %>

<div class='row'>
  <div class='span8'>
    <h2>1 Ride details</h2>
    <div class='row well'>
      <div class='span8'>
        <div class='row'>
          <div class='span8'>
            <p>
            <span class='label label-inverse'>
              <%= r.ride_type %> at Cherry Crest
            </span>
            for your <%= son_or_daughter(c) %> 
            <strong><%= c.name.split[0].capitalize %></strong>
            </p>
            <p>
            <strong>
              From <%= r.schedule.start_time.to_date %> <%= r.schedule %>
          </strong>
            </p>
          </div>
        </div>
        <div class='row'>
          <div class='span1'>
            <%= image_tag r.driver.profile_photo('small'), class: 'img-polaroid' %>
          </div>
          <div class='span2'>
            <p><strong>Driver:</strong></p>
            <p><%= r.driver.first_name %> <%= r.driver.last_name %></p>
          </div>
          <div class='span5'>
            <p>
            <span class='label label-inverse'>From</span> 
            <i class='icon-map-marker icon-large' style='color: green;'></i> 
            <%= r.origin_address.full_street_address %>
            </p>
            <p>
            <span class='label label-inverse'>To</span> 
            <i class='icon-map-marker icon-large' style='color: red;'></i> <%= r.destination_address.name %>
            </p>
          </div>
        </div>
        <div class='row'>
          <span class='span2 lead'>
            Each Trip $<%= r.gas_money %>
          </span>
        </div>
        <div class='row'>
          <span class='span2 lead'>
            Weekly $<%= r.gas_money * 5%>
          </span>
        </div>
      </div>
    </div>

    <% if false %>
    <h2>2 Payment <i class='icon-lock icon-large'></i></h2>
    <div class='row well'>
      <div class='span8'>
        <%= render 'credit_card_form' %>
      </div>
    </div>
    <% end %>

    <h2>2 Contact Info</h2>
    <div class='row well'>
      <div class='span8'>
        <%= simple_form_for current_user, 
          html: { class: 'user_phone' },
          url: url_for(controller: 'rides', action: 'booked'), method: :put do |f| %>
          <%= f.input :phone_number,
            label: 'Please provide your best contact number:',
            placeholder: 'phone number' %>
          <%= f.input 'booked_ride_id', as: :hidden, input_html: { value: r.id } %>
          <%= f.input 'child_id', as: :hidden, input_html: { value: c.id } %>
        <% end %>
      </div>
    </div>

    <div class='row'>
      <div class='span4'>
        <button class='btn btn-success btn-block submit'>Book It!</button>
      </div>
    </div>
  </div>

  <% if false %>
  <div class='span4'>
    <h2 style='visibility:hidden;'>Space filler</h2>
    <div class='row'>    
      <div class='span4'>
        <div class='alert alert-info'>
          <p class='lead'>
          How it works
          </p>
          <p>
          <small>
            You WILL NOT be charged unless John accepts your request. If John doesn't respond with 24 hours the request will expire and you can try someone else.
          </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
