<% if @rider.nil? %>
  <% offering = false %>
  <% asker = @driver %>
<% else %>
  <% offering = true %>
  <% asker = @rider %>
<% end %>

<div class='row'>
  <div class='span12'>
    <h2>
      Hooray! <%= asker.first_name %> has accepted your 
      <% if offering %>
        offer to pick up <%= asker.first_name %>'s kid!
      <% else %>
        request!
      <% end %>
    </h2>
    <p>
     Here's <%= asker.first_name %>'s email and phone number so you can get in contact directly: 
    </p>
  </div>
</div>

<div class='row'>
  <div class='span1'>
    <p>
    <%= image_tag asker.profile_photo('normal'), class: 'img-polaroid' %>
    </p>
  </div>
  <div class='span4'>
    <p><strong><%= asker.email %></strong></p>
    <p><strong><%= asker.phone_number %></strong></p>
  </div>
</div>

<div class='row'>
  <div class='span8'>
    <%= link_to 'Back to Home', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
