<div class='row'>
  <div class='span12'>
    <h2>Hooray! <%= @driver.first_name %> has accepted your request!</h2>
    <p>
     Here's <%= @driver.first_name %>'s email and phone number so you can get in contact directly: 
    </p>
  </div>
</div>

<div class='row'>
  <div class='span1'>
    <p>
    <%= image_tag @driver.profile_photo('normal'), class: 'img-polaroid' %>
    </p>
  </div>
  <div class='span4'>
    <strong><%= @driver.email %></strong>
    <strong><%= @driver.phone_number %></strong>
  </div>
</div>

<div class='row'>
  <div class='span8'>
    <%= link_to 'Back to Home', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
