<% howmany = @rides.count %>
<div class='page-header'>
  <h2>Showing <%= pluralize(howmany, 'ride') %>
    <small>Sort by distance to your home</small>
  </h2>
</div>

<% @rides.each do |r| %>

  <% if !r.driver_id.nil? %>
    <% ride_creator = r.driver %>
    <% ride_creator_type = 'driver' %>
  <% else %>
    <% ride_creator = r.riders.first %>
    <% ride_creator_type = 'rider' %>
  <% end %>

  <div class='row'>
    <div class='span2'>
      <%= image_tag ride_creator.profile_photo('large'), class: 'img-polaroid' %>
    </div>
    <div class='span6'>
      <div class='row'>
        <div class='span4'>
          <h4>
            <span class='text-info'>
              <strong><%= ride_creator.first_name %> <%= ride_creator.last_name[0] %></strong>
            </span> 
            <% if ride_creator_type.eql? 'driver' %>
              is a parent driver
            <% else %>
              <% child = Child.find(ride_creator.riderships.where(ride_id: r.id).first.child_id) %>
              's <%= son_or_daughter(child) %>
              <span class='text-info'><%= child.name.split[0].capitalize %></span>
              is a passenger
            <% end %>
          </h4>
          <p>
          <span class='label label-success'>
            <%= r.ride_type %> Ride
          </span>
          </p>
          <p>
          <span class='label label-inverse'>From</span> 
          <i class='icon-map-marker icon-large' style='color: green;'></i> 
          <%= r.origin_address.full_street_address %>
          </p>
          <p>
          <span class='label label-inverse'>To</span> 
          <i class='icon-map-marker icon-large' style='color: red;'></i> <%= r.destination_address.name %>
          </p>
        </div>
        <div class='span2'>
          <% if ride_creator_type == 'driver' %>
            <span class='label label-important'>Asking for</span>
            <h3>$<%= r.gas_money %> per ride</h3>
            <%= link_to 'More info', ride_path(r.id), class: 'btn btn-primary' %>
          <% else %>
            <span class='label label-important'>Willing to pay</span>
            <h3>$<%= r.gas_money %> per ride</h3>
            <%= link_to 'More info', ride_path(r.id), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      
      <p>
      <% if r.ride_type.downcase.include? 'drop-off' %>
        <% then leading_text = 'Arriving at' %>
        <% else leading_text = 'Leaving at' %>
      <% end %>
      <strong>
        <%= leading_text %>
        <%= r.schedule.start_time.strftime('%H:%M %P') %>
        <%= r.schedule %>
      </strong>
      </p>
      <p>
      <% if not r.schedule1.recurrence_rules.empty? %>
        <strong>
          And <%= leading_text.downcase %>
        <%= r.schedule1.start_time.strftime('%H:%M %P') %>
        <%= r.schedule1 %>
      </strong>
      <% end %>
      </p>
      
    </div>
    <div class='span4'>
      <div class='map-canvas small' 
        data-lat= '<%= r.origin_address.latitude %>'
        data-lng= '<%= r.origin_address.longitude %>' >
      </div>
    </div>
  </div>
<% end %>

<div class='row well'>
  <span class='span5 offset2'>
    <p class='lead'>Didn't find what you were looking for?</p>
    <p>Post a ride as a parent driver or for your child passenger.</p>
  </span>
  <div class='span2'>
    <%= link_to 'Post a ride', new_ride_path, class: 'btn btn-primary' %>
  </div>
</div>
