<% howmany = @rides.count %>
<div class='page-header'>
  <h2>Showing <%= pluralize(howmany, 'ride') %>
    <small>Sort by distance to your home</small>
  </h2>
</div>

<% @rides.each do |r| %>

  <% ride_creator = User.find(r.created_by) %>
  <% ride_creator_type = r.created_as %>

  <div class='row'>
    <div class='span2'>
      <%= image_tag ride_creator.profile_photo('large'), class: 'img-polaroid' %>
    </div>
    <div class='span6'>
      <div class='row'>
        <div class='span4'>
          <h4>
            <span class='text-info'>
              <strong><%= ride_creator.first_name %> <%= ride_creator.last_name[0] %></strong>
            </span> 
            <% if ride_creator_type.eql? 'driver' %>
              is a parent driver
            <% else %>
              <% child = Child.find(ride_creator.riderships.where(ride_id: r.id).first.child_id) %>
              's <%= son_or_daughter(child) %>
              <span class='text-info'><%= child.name.split[0].capitalize %></span>
              is a passenger
            <% end %>
          </h4>
          <p>
          <span class='label label-success'>
            <%= r.ride_type %> Ride
          </span>
          </p>
          <p>
          <span class='label label-inverse'>From</span> 
          <i class='icon-map-marker icon-large' style='color: green;'></i> 
          <% if r.origin_address.user_id ==0 %>
            <%= r.origin_address.name %>
          <% else %>
            <%= r.origin_address.full_street_address %>
          <% end %>
          </p>
          <p>
          <span class='label label-inverse'>To</span> 
          <i class='icon-map-marker icon-large' style='color: red;'></i> 
          <% if r.destination_address.user_id ==0 %>
            <%= r.destination_address.name %>
          <% else %>
            <%= r.destination_address.full_street_address %>
          <% end %>
          </p>
        </div>
        <div class='span2'>
          <% if ride_creator_type == 'driver' %>
            <span class='label label-important'>Asking for</span>
            <h3>$<%= r.gas_money %> per ride</h3>
            <%= link_to 'More info', ride_path(r.id), class: 'btn btn-primary' %>
          <% else %>
            <span class='label label-important'>Willing to pay</span>
            <h3>$<%= r.gas_money %> per ride</h3>
            <%= link_to 'More info', ride_path(r.id), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      
      <strong>
        <%= render partial: 'describe_schedule', locals: { r: r }  %>
      </strong>
      
    </div>
    <div class='span4'>
      <div class='map-canvas small' 
        data-orig-lat= '<%= r.origin_address.latitude %>'
        data-orig-lng= '<%= r.origin_address.longitude %>' 
        data-dest-lat= '<%= r.destination_address.latitude %>'
        data-dest-lng= '<%= r.destination_address.longitude %>' >
      </div>
    </div>
  </div>

  <hr></hr>
<% end %>

<div class='row well'>
  <span class='span5 offset2'>
    <p class='lead'>Didn't find what you were looking for?</p>
    <p>Post a ride as a parent driver or for your child passenger.</p>
  </span>
  <div class='span2'>
    <%= link_to 'Post a ride', new_ride_path, class: 'btn btn-primary' %>
  </div>
</div>
