<% r = @ride %>
<% rr = @rider %>
<% ridership = rr.riderships.where(ride_id: r.id).first %>

<div class='row'>
  <div class='span8'>
    <% c = rr.children.find(ridership.child_id) %>
    <h3>Ride request from <%= rr.first_name %> <%= rr.last_name[0] %> for <%= pronoun(rr) %> <%= son_or_daughter(c) %> <%= c.name.split[0].capitalize %></h3>
    <div class='row'>
      <div class='span7 well'>

        <div class='row'>
          <div class='span8'>
            <p>
            <span class='label label-inverse'>From</span> 
            <i class='icon-map-marker icon-large' style='color: green;'></i> 
            <%= r.origin_address.full_street_address %>
            </p>
            <p>
            <span class='label label-inverse'>To</span> 
            <i class='icon-map-marker icon-large' style='color: red;'></i> <%= r.destination_address.name %>
            </p>
            <strong>
              From <%= r.schedule.start_time.to_date %> <%= r.schedule %>
            </strong>
          </div>
        </div>

        <hr class='span6'></hr>

        <div class='row'>
          <div class='span1'>
            <%= image_tag rr.profile_photo('small'), class: 'img-polaroid' %>
          </div>
          <div class='span1'>
            <% if c.gender == 'female' %>
              <%= image_tag '/assets/default_female.jpg', class: 'img-polaroid' %>
            <% else %>
              <%= image_tag '/assets/default_male.jpg', class: 'img-polaroid' %>
            <% end %>
          </div>
          <div class='span6'>
            <p><strong><%= rr.first_name %>'s <%= son_or_daughter(c) %> <%= c.name.split[0].capitalize %> will be your passenger</strong></p> 
            <p>Their house is ? miles from yours.</p>
          </div>
        </div>

        <div class='row'>
          <div class='span8'>
            <div class='map-canvas small' 
              data-lat= "<%= rr.addresses.where(name: 'Home').first.latitude %>"
              data-lng= "<%= rr.addresses.where(name: 'Home').first.longitude %>" >
            </div>
          </div>
        </div>

        <div class='row'>
          <span class='span6 lead'>
            Each Ride Payout $<%= r.gas_money %>
          </span>
        </div>
        <div class='row'>
          <span class='span6 lead'>
            Total Weekly Payout $<%= r.gas_money * 5%>
          </span>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='span8'>
        <button class='accept span2 btn btn-success' data-toggle='button'>Accept</button>
        <button class='decline span2 btn btn-danger' data-toggle='button'>Decline</button>
      </div>
    </div>
    <div class='row'>
      <div class='span6'>
        <div class='accept_form alert alert-info hidden'>
          <%= simple_form_for r, 
            html: { class: 'form-horizontal' },
            url: url_for(controller: 'rides', action: 'responded'), method: :put do |f| %>
            <%= f.input :phone_number, as: :string, input_html: { value: '' },
              label: 'Please provide your best contact number:',
              placeholder: 'phone number' %>
            <%= f.input :comment, input_html: { rows: 5 },
              placeholder: 'Include an optional message for ' + rr.first_name + '.' %>
            <%= f.input 'responded_to_ride_id', as: :hidden, input_html: { value: r.id } %>
            <%= f.input 'responded_to_rider_id', as: :hidden, input_html: { value: rr.id } %>
            <%= f.submit 'Accept!', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='span6'>
        <div class='decline_form alert alert-info hidden'>
          <%= simple_form_for r, 
            html: { class: 'form-horizontal' },
            url: url_for(controller: 'rides', action: 'responded'), method: :put do |f| %>
            <%= f.input :comment, as: :text, input_html: { value: '', rows: 5 },
              placeholder: 'Why are you declining ' + rr.first_name + "'s request?" %>
            <%= f.input 'responded_to_ride_id', as: :hidden, input_html: { value: r.id } %>
            <%= f.input 'responded_to_rider_id', as: :hidden, input_html: { value: rr.id } %>
            <%= f.submit 'Decline', class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='span4'>
    <br></br>
    <br></br>
    <div class='row'>
      <div class='span4'>
        <div class='countdown' data-expiration='<%= ridership.expiration.to_i %>' >
        </div>
        <p>time left to respond</p>
      </div>
    </div>
    <div class='row'>
      <div class='span4'>
        <div class='alert alert-info'>
          <p class='lead'>
            How it works
          </p>
          <small>
            Respond before the countdown completes to accept or decline <%= rr.first_name %>'s request.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
