<% rider = User.find(@ridership.user_id) %>
<% ride = Ride.find(@ridership.ride_id) %>

<div class='row'>
  <div class='span12'>
    <h2>Hooray! You've accepted <%= rider.first_name %>'s request!</h2>
    <p>
      Here's <%= rider.first_name %>'s email and phone number so you can get in contact directly:
    </p>
  </div>
</div>

<div class='row'>
  <div class='span1'>
    <p>
    <%= image_tag rider.image %>
    </p>
  </div>
  <div class='span4'>
    <%= rider.email %>
    <%= rider.phone_number %>
  </div>
</div>

<div class='row'>
  <div class='span8'>
    <%= link_to 'Back to Home', user_path(current_user), class: 'btn btn-primary' %>
  </div>
</div>
