<% r = @ride %>
<% if @rider %>
  <% rr = @rider %>
  <% offering = false %>
  <% ridership = rr.riderships.where(ride_id: r.id).first %>
<% else %>
  <% d = @driver %>
  <% offering = true %>
  <% ridership = r.riderships.where(user_id: current_user.id).first %>
<% end %>

<div class='row'>
  <div class='span8'>
    <% if not offering %>
      <% c = rr.children.find(ridership.child_id) %>
      <h3>Ride request from <%= rr.first_name %> <%= rr.last_name[0] %> for <%= son_or_daughter(c) %> <%= c.name.split[0].capitalize %></h3>

    <% else %>
      <% c = Child.find(ridership.child_id) %>
      <h3>Ride offer from <%= d.first_name %> <%= d.last_name %> for your <%= son_or_daughter(c) %> <%= c.name %></h3>
    <% end %>
    <div class='row'>
      <div class='span7 well'>

        <div class='row'>
          <div class='span8'>
            <p>
            <span class='label label-inverse'>From</span> 
            <i class='icon-map-marker icon-large' style='color: green;'></i> 
            <% if r.origin_address.user_id ==0 %>
              <%= r.origin_address.name %>
            <% else %>
              <%= r.origin_address.full_street_address %>
            <% end %>
            </p>
            <p>
            <span class='label label-inverse'>To</span> 
            <i class='icon-map-marker icon-large' style='color: red;'></i>
            <% if r.destination_address.user_id ==0 %>
              <%= r.destination_address.name %>
            <% else %>
              <%= r.destination_address.full_street_address %>
            <% end %>
            </p>
            <strong>
              <%= render partial: 'describe_schedule', locals: { r: r }  %>
            </strong>
          </div>
        </div>

        <hr class='span6'></hr>

        <div class='row'>
          <div class='span1'>
            <% if offering %>
              <%= image_tag d.profile_photo('small'), class: 'img-polaroid' %>
            <% else %>
              <%= image_tag rr.profile_photo('small'), class: 'img-polaroid' %>
            <% end %>
          </div>
          <div class='span1'>
            <% if c.gender == 'female' %>
              <%= image_tag '/assets/default_female.jpg', class: 'img-polaroid' %>
            <% else %>
              <%= image_tag '/assets/default_male.jpg', class: 'img-polaroid' %>
            <% end %>
          </div>
        </div>

        <!--<div class='row'>-->
          <!--<div class='span8'>-->
            <!--<div class='map-canvas small' data-orig-lat= "<%# rr.addresses.where(name: 'Home').first.latitude %>" data-orig-lng= "<%# rr.addresses.where(name: 'Home').first.longitude %>" >-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <div class='row'>
          <span class='span6 lead'>
            Each Ride Payout $<%= r.gas_money %>
        </span>
      </div>
      <!--<div class='row'>-->
        <!--<span class='span6 lead'>-->
          <!--Total Weekly Payout $<%# r.gas_money * 5%>-->
          <!--</span>-->
        <!--</div>-->
    </div>
  </div>

    <div class='row'>
      <div class='span8'>
        <button class='accept span2 btn btn-success' data-toggle='button'>Accept</button>
        <button class='decline span2 btn btn-danger' data-toggle='button'>Decline</button>
      </div>
    </div>
    <div class='row'>
      <div class='span6'>
        <div class='accept_form alert alert-info hidden'>
          <%= simple_form_for r, 
            html: { class: 'form-horizontal' },
            url: url_for(controller: 'rides', action: 'responded'), method: :put do |f| %>
            <%= f.input :phone_number, as: :string, 
              input_html: { value: number_to_phone(current_user.phone_number) },
              label: 'Please provide your best contact number:',
              placeholder: 'phone number' %>
            <%= f.input :comment, input_html: { rows: 5 },
              placeholder: 'Include an optional message for ' + 
              if offering then d.first_name else rr.first_name end + '.' %>
            <%= f.input 'responded_to_ride_id', as: :hidden, input_html: { value: r.id } %>
            <% if offering %>
              <%= f.input 'responded_to_driver_id', as: :hidden, input_html: { value: d.id } %>
            <% else %>
              <%= f.input 'responded_to_rider_id', as: :hidden, input_html: { value: rr.id } %>
            <% end %>
            <%= f.submit 'Accept!', class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='span6'>
        <div class='decline_form alert alert-info hidden'>
          <%= simple_form_for r, 
            html: { class: 'form-horizontal' },
            url: url_for(controller: 'rides', action: 'responded'), method: :put do |f| %>
            <%= f.input :comment, as: :text, input_html: { value: '', rows: 5 },
              placeholder: 'Why are you declining ' + 
              if offering then d.first_name else rr.first_name end  + "'s request?" %>
            <%= f.input 'responded_to_ride_id', as: :hidden, input_html: { value: r.id } %>
            <% if offering %>
              <%= f.input 'responded_to_driver_id', as: :hidden, input_html: { value: d.id } %>
            <% else %>
              <%= f.input 'responded_to_rider_id', as: :hidden, input_html: { value: rr.id } %>
            <% end %>
            <%= f.submit 'Decline', class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class='span4'>
    <br></br>
    <br></br>
    <div class='row'>
      <div class='span4'>
        <div class='countdown' data-expiration='<%= ridership.expiration.to_i %>' >
        </div>
        <p>time left to respond</p>
      </div>
    </div>
    <div class='row'>
      <div class='span4'>
        <div class='alert alert-info'>
          <p class='lead'>
            How it works
          </p>
          <small>
            Respond before the countdown completes to accept or decline 
            <%= if offering then d.first_name else rr.first_name end  %>'s request.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
