<% r = @ride %>

<% if !r.driver_id.nil? %>
  <% ride_creator = r.driver %>
  <% ride_creator_type = 'driver' %>
<% else %>
  <% ride_creator = r.riders.first %>
  <% ride_creator_type = 'rider' %>
<% end %>

<div class='row'>
  <div class='span3'>
    <%= link_to :back, class: 'btn' do %>
      <i class='icon-arrow-left'></i>
      Back to rides list
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='span12'>
    <h3>
      <%= r.origin_address.street1 %> <%= r.origin_address.city %>
      <i class='icon-arrow-right icon-large'></i>
      <%= r.destination_address.name %>
    </h3>
  </div>
</div>

<div class='row'>
  <div class='span8 well'>
    <strong>
      From <%= r.schedule.start_time.to_date %> <%= r.schedule %>
    </strong>
    <% if ride_creator_type == 'driver' %>
      <strong>Riders and Seats</strong>
      <p>
      <% seats_left = r.seats_total - r.seats_filled %>
      <%= seats_left %> <%= pluralize(seats_left, 'seat').split[1] %> left.
      </p>
    <% end %>
    <div class='map-canvas big' 
      data-lat= '<%= r.origin_address.latitude %>'
      data-lng= '<%= r.origin_address.longitude %>' >
    </div>
  </div>

  <div class='span3'>
    <% if ride_creator_type == 'driver' %>
      <div class='well span3'>
        <% if r.riders.include? current_user %>
          <% ridership = r.riderships.where(user_id: current_user.id).first %>
          <strong>Booking status:</strong>

          <% case ridership.status %>
          <% when 'booked' %>
            <% if ridership.expiration > Time.now %>
              <span class='label label-info'>Pending</span>
              <p>You've already initiated a booking for this ride.</p>
              <p>Time left to respond:</p>
              <div class='countdown' data-expiration='<%= ridership.expiration.to_i %>' >
              </div>
              <%= link_to '#', class: 'btn btn-danger btn-block' do %>
                <i class='icon-remove icon-large'></i>
                Cancel Request
              <% end %>
            <% else %>
              <span class='label label-important'>Expired</span>
            <% end %>
          <% when 'accepted' %>
              <span class='label label-success'>Accepted</span>
              <p>Your request has been accepted.</p>
          <% when 'rejected' %>
              <span class='label label-important'>Rejected</span>
              <p>Your request has been rejected.</p>
          <% when 'confirmed' %>
              <span class='label label-success'>Confirmed</span>
          <% end %>

        <% else %>
          <strong>For which child:</strong>
          <select class='which-child span3'>
            <% current_user.children.each do |c| %>
              <option><%= c.name %></option>
            <% end %>
          </select>
          <h4>$<%= r.gas_money %> per ride</h4>
          <button class='book-it btn btn-success btn-block' data-ride-id='<%= r.id %>'>
            <i class='icon-shopping-cart icon-large'></i>
            Book It!
          </button>
        <% end %>
      </div>
    <% end %>

    <div class='span3'>
      <%= image_tag ride_creator.profile_photo('normal'), class: 'img-polaroid pull-left' %>
      <p><strong>
        <% if ride_creator_type == 'driver' %>
          Parent Driver
        <% else %>
          Parent of Passenger
        <% end %>
      </strong></p>
      <%= link_to user_path(ride_creator.id) do %> 
        <%= ride_creator.first_name %> <%= ride_creator.last_name[0].capitalize %>
      <% end %>
      <br></br>
      <br></br>
      <div>
        <i class='icon-ok icon-large'></i>
        <div class='label label-success'>Facebook connected</div>
      </div>
      <div>
        <i class='icon-ok icon-large'></i>
        <div class='label label-success'>Verified parent</div>
      </div>
      <hr></hr>
      <% if ride_creator_type == 'driver' %>
        <% children = ride_creator.children %>
        <strong>
          <%= ride_creator.first_name %> has <%= pluralize(children.count, 'child') %>
        </strong>
        <% children.each do |child| %>
          <% if child.gender == 'female' %>
            <%= image_tag '/assets/default_female.jpg', class: 'img-polaroid pull-left' %>
          <% else %>
            <%= image_tag '/assets/default_male.jpg', class: 'img-polaroid pull-left' %>
          <% end %>
          <strong>
            <p><%= child.name.capitalize %></p> 
            <p>Grade <%= child.grade %></p>
          </strong>
        <% end %>
      <% else %>
        <% ridership = r.riderships.where(user_id: ride_creator.id).first %>
        <% child = Child.find(ridership.child_id) %>
        <% if child.gender == 'female' %>
          <%= image_tag '/assets/default_female.jpg', class: 'img-polaroid pull-left' %>
        <% else %>
          <%= image_tag '/assets/default_male.jpg', class: 'img-polaroid pull-left' %>
        <% end %>
        <strong>
          <p>Passenger</p>
          <p><%= child.name.capitalize %></p> 
        </strong>
        <br></br>
        <strong>
          <p>Grade <%= child.grade %></p>
          <p>Teacher <%= child.teacher %></p>
        </strong>
      <% end %>
    </div>
  </div>
</div>
